@page
@model MyApp.Namespace.TraitementFichierCarteModel
@{
    ViewData["Title"] = "Traitement Fichier Carte";
}


@section Styles {
   <link rel="stylesheet" href="~/css/carte.css"/>  
}

<!-- Afficher les messages de succès -->
@if (TempData["SuccessMessage"] != null)
{
    <div class="alert alert-success alert-dismissible fade show" role="alert">
        @TempData["SuccessMessage"]
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
}

<!-- Afficher les messages d'erreur de validation -->
@if (!ViewData.ModelState.IsValid)
{
    <div class="alert alert-danger alert-dismissible fade show" role="alert">
        <ul>
            @foreach (var error in ViewData.ModelState.Values.SelectMany(v => v.Errors))
            {
                <li>@error.ErrorMessage</li>
            }
        </ul>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
}

<div class="d-flex align-items-center">
    <h3>Centre de traitement cartes 🗺️</h3>
     <!-- Bouton Actions avec dropdown -->
        <div class="dropdown">
            <button class="btn btn-secondary dropdown-toggle" type="button" 
                    id="actionsDropdown" 
                    data-bs-toggle="dropdown" 
                    aria-expanded="false">
                Actions
            </button>
            <ul class="dropdown-menu" aria-labelledby="actionsDropdown">
                <li><a class="dropdown-item" href="#" id="exportSelected">Télécharger la sélection</a></li>
                <li><hr class="dropdown-divider"></li>
                <li><a class="dropdown-item" href="#" id="deleteSelected">Supprimer la sélection</a></li>
               @*  <li><a class="dropdown-item" href="#" id="exportAll">Exporter tout</a></li>
                <li><a class="dropdown-item" href="#" id="printView">Vue impression</a></li> *@
            </ul>
        </div>
        <div class="ms-auto d-flex gap-2">
            <a class="text-white ms-auto underline btn" 
                asp-area=""
                asp-page="/"
                style="background: linear-gradient(135deg, #44f409 0%, #374151 100%);">
                Valider les fichiers
            </a>
            <a class="text-white ms-auto underline btn" 
                asp-area=""
                asp-page="/"
                style="background: linear-gradient(135deg, #eb2b12 0%, #374151 100%);">
                Rejeter les fichiers
            </a>
            @if(User.IsInRole("Administrateur")){
                <button type="button" class="btn text-white ms-auto" data-bs-toggle="modal" data-bs-target="#ajoutFichierModal"
                        style="background: linear-gradient(135deg, #1db9e9 0%, #374151 100%);">
                    Indexer une carte
                </button> 
            }
        </div>
</div>

@*Formulaire de recherche*@
<form method="get" class="mt-3 mb-3">
    <div class="row g-2" style="border-bottom: 5px solid #ccc; padding-bottom:10px;">
        @* <div class="col">
            <input type="text" name="ville" class="form-control" placeholder="Ville">
        </div>
        <div class="col">
            <input type="text" name="quartier" class="form-control" placeholder="Quartier">
        </div>
        <div class="col">
            <input type="text" name="operation" class="form-control" placeholder="Opération">
        </div>
        <div class="col">
            <input type="text" name="legende" class="form-control" placeholder="Legende">
        </div>
        <div class="col-auto">
            <button type="submit" class="btn text-white" style="background: linear-gradient(135deg, #10b981 0%, #374151 100%);">Rechercher</button>
        </div> *@
    </div>
</form>

@* @if (ViewData["MessageRechercheCarte"] != null)
{
    <p style="text-align: center; color:red">@ViewData["MessageRechercheCarte"]</p>
}
else
{ *@
   <!-- Afficher la liste de résultats -->

<div class="filter-container">
    <div style="max-height:60vh; overflow-y:auto;margin-top:20px;">
        <div class="d-flex justify-content-between align-items-center mb-2">
            <input type="text" id="table-filter" class="form-control form-control-sm" placeholder="Filtrer par boite, code,n° logement, client, document ou ..." />
        </div>
        <div id="filter-stats" class="text-muted small">
            <span id="filterStats" class="text-muted small">@Model.CarteListEnAttenteValidation.Count carte(s) trouvé(s)</span>
        </div>
        
        <table class="table mt-1">
            <thead>
                <tr>
                    <th style="font-size: 12px;"><input type="checkbox" id="selectAllCheckbox" style="cursor: pointer;" /></th>
                    <th style="font-size: 12px;">N° Tube</th>
                    <th style="font-size: 12px;">Legende</th>
                    <th style="font-size: 12px; font-weight: bold;">Statut</th>
                    <th style="font-size: 12px;">Code opération</th>
                    <th style="font-size: 12px;">Opération</th>
                    <th style="font-size: 12px;">Ville</th>
                    <th style="font-size: 12px;">Originalite</th>
                    <th style="font-size: 12px;">Echelle</th>
                    <th style="font-size: 12px;">Côte</th>
                    <th style="font-size: 12px;">Date carte.</th>
                    <th style="font-size: 12px;">Actions</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var carte in Model.CarteListEnAttenteValidation)
                {
                    <tr>
                        <td style="font-size: 12px;"><input type="checkbox" class="rowCheckbox" data-carte-id="@carte.IdCarte" style="cursor: pointer;"></td>
                        <td style="font-size: 12px;">@carte.Tube</td>
                        <td style="font-size: 12px;">
                            <span class="clickable-name" 
                                    data-bs-toggle="modal" 
                                    data-bs-target="#carteModal"
                                    data-carte-id="@carte.IdCarte"
                                    data-legende="@(string.IsNullOrEmpty(carte.Legende) ? "" : char.ToUpper(carte.Legende[0]) + carte.Legende.Substring(1).ToLower())"
                                    data-tube="@carte.Tube"
                                    data-datecarte="@carte.DateCarte"
                                    data-ville="@carte.IdOpeNavigation?.IdVilleNavigation?.DescriptionVille ?? carte.Ville"
                                    data-quartier="@carte.Quartier"
                                    data-operation="@carte.IdOpeNavigation?.DescriptionOpe ?? carte.Operation"
                                    data-originalite="@carte.Originalite"
                                    data-echelle="@carte.Echelle"
                                    data-cote="@carte.Cote"
                                    data-idoperation="@carte.IdOpe"
                                    data-statut-id="@carte.DernierStatutCarteId"
                                    data-fichier="@(carte.Lien ??"")">
                                    @(string.IsNullOrEmpty(carte.Legende) ? "" : char.ToUpper(carte.Legende[0]) + carte.Legende.Substring(1).ToLower())
                                </span>                      
                        </td>
                        @* <td style="font-size: 12px; font-weight: bold;">@(!string.IsNullOrWhiteSpace(carte.DernierStatutCarte?.DescriptionStatut) ? carte.DernierStatutCarte?.DescriptionStatut : "N/A")</td> *@
                        <td>
                            @if (carte.DernierStatutCarte?.DescriptionStatut == "En attente")
                            {
                                <span class="badge bg-warning text-dark">En attente</span>
                            }
                            else if (carte.DernierStatutCarte?.DescriptionStatut == "Nouveau")
                            {
                                <span class="badge bg-info">Nouveau</span>
                            }
                            else
                            {
                                <span class="badge bg-secondary">@carte.DernierStatutCarte?.DescriptionStatut</span>
                            }
                        </td>
                        <td style="font-size: 12px;">@(!string.IsNullOrWhiteSpace(carte.IdOpeNavigation?.CodeOpe) ? carte.IdOpeNavigation?.CodeOpe : "N/A")</td>
                        <td style="font-size: 12px;">@(!string.IsNullOrWhiteSpace(carte.Operation) ? carte.Operation : carte.IdOpeNavigation?.DescriptionOpe ?? "N/A")</td>
                        <td style="font-size: 12px;">@(!string.IsNullOrWhiteSpace(carte.Ville) ? carte.Ville : carte.IdOpeNavigation?.IdVilleNavigation?.DescriptionVille ?? "N/A")</td>
                        <td style="font-size: 12px;">@carte.Originalite</td>
                        <td style="font-size: 12px;">@carte.Echelle</td>
                        <td style="font-size: 12px;">@carte.Cote</td>
                        <td style="font-size: 12px;">@carte.DateCarte</td>
                        <td style="font-size: 12px;">
                            <form method="post" asp-page-handler="View" asp-route-id="@carte.IdCarte" target="_blank">
                                <button class="btn btn-warning btn-sm">👁️ Voir</button>
                            </form>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
@* } *@

@* Formulaire pour ajouter les nouveaux fichiers *@
<div class="modal fade" id="ajoutFichierModal" tabindex="-1" aria-labelledby="ajoutFichierModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <form id="uploadForm" method="post" enctype="multipart/form-data" asp-page-handler="UploadFileCarte">
                <div class="modal-header" style="background: linear-gradient(135deg, #10b981 0%, #374151 100%); color:white;">
                    <h5 class="modal-title" id="ajoutFichierModalLabel">Ajouter une carte</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Fermer"></button>
                </div>
                <div class="modal-body">
                    <div class="row g-3">
                        <div class="col-md-6">
                            <label for="statutVal" class="form-label">Statut</label>
                            <select name="statutId" class="form-select" id="statutId">
                                <option value="" selected disabled>-- Sélectionner un statut --</option>
                                @foreach (var statut in Model.UserAllowedStatuts)
                                {
                                    <option value="@statut.Value">@statut.Text</option>
                                }
                            </select>
                        </div>
                        <div class="col-md-6">
                            <label for="DateCarte" class="form-label">Date</label>
                            <input type="date" name="DateCarte" class="form-control" required />
                        </div>
                        <div class="col-md-6">
                            <label for="Tube" class="form-label">Tube</label>
                            <input type="text" name="Tube" class="form-control" required />
                        </div>
                        <div class="col-md-6">
                            <label for="Code" class="form-label">Code opération</label>
                            <select name="IdOperation" id="Code" class="form-select" required>
                                <option value="" selected disabled>-- Sélectionner un code --</option>
                                @if (Model.OperationList != null && Model.OperationList.Any())
                                {
                                    @foreach (var Ope in Model.OperationList)
                                    {
                                        <option value="@Ope.IdOpe" data-operation="@Ope.DescriptionOpe" data-ville="@Ope.IdVilleNavigation?.DescriptionVille">
                                            @Ope.CodeOpe - @Ope.DescriptionOpe -@(Ope.IdVilleNavigation != null ? Ope.IdVilleNavigation.DescriptionVille : "Ville inconnue")
                                        </option>
                                    }
                                }
                            </select>
                        </div>
                        <div class="col-md-6">
                            <label for="Operation" class="form-label">Operation</label>
                            <input type="text" name="Operation" class="form-control bg-warning" readonly />
                        </div>
                        <div class="col-md-6">
                            <label for="Ville" class="form-label">Ville</label>
                            <input type="text" name="Ville" class="form-control bg-warning" readonly />
                        </div>
                        <div class="col-md-6">
                            <label for="Legende" class="form-label">Legende</label>
                            <input type="text" name="Legende" class="form-control" />
                        </div>
                        <div class="col-md-6">
                            <label for="Originalite" class="form-label">Originalite</label>
                            <select name="Originalite" class="form-select">
                                <option value="" selected disabled>-- Sélectionner une originalité --</option>
                                <option value="PAPIER">PAPIER</option>
                                <option value="CALQUE">CALQUE</option>
                                <option value="NEANT">NEANT</option>
                            </select>
                        </div>
                        <div class="col-md-6">
                            <label for="Echelle" class="form-label">Echelle</label>
                            <input type="text" name="Echelle" class="form-control" />
                        </div>
                        <div class="col-md-6">
                            <label for="Cote" class="form-label">Cote</label>
                            <input type="text" name="Cote" class="form-control" />
                        </div>
                        <div class="col-md-12">
                            <label for="Fichier" class="form-label">Fichier numérisé (PDF)</label>
                            <input type="file" name="Fichier" class="form-control" accept=".pdf" required />
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-success">Enregistrer</button>
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Annuler</button>
                </div>
            </form>
        </div>
    </div>
</div>

@* Methode pour modifier un fichier carte *@
<div class="modal fade" id="carteModal" tabindex="-1" aria-labelledby="carteModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="carteModalLabel">Modifier une carte</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form id="carteForm">
                    @Html.AntiForgeryToken()
                    <input type="hidden" id="carteId">
                    <input type="hidden" id="deleteFileFlag" name="DeleteFile" value="false">
                    <div class="row g-3">
                        <div class="col-md-6">
                            <label for="editstatutId" class="form-label">Statut</label>
                            <select name="statutId" id="editstatutId" class="form-select" >
                                <option value="" selected disabled>-- Sélectionner un statut --</option>
                                @foreach (var statut in Model.UserAllowedStatuts)
                                {
                                    <option value="@statut.Value">@statut.Text</option>
                                }
                            </select>
                        </div>
                        <div class="col-md-6">
                            <label for="dateCarte" class="form-label required-field">Date d'édition</label>
                            <input type="date" name="DateCarte" id="dateCarte" class="form-control"/>
                        </div>
                        <div class="col-md-6">
                            <label for="tube" class="form-label required-field">Tube</label>
                            <input type="text" name="Tube" id="tube" class="form-control"/>
                        </div>
                        <div class="col-md-6">
                            <label for="Code" class="form-label">Code Opération</label>
                            <select name="IdOperation" id="code" class="form-select" required>
                                <option value="" selected disabled>-- Sélectionner un code --</option>
                                @if (Model.OperationList != null && Model.OperationList.Any())
                                {
                                    @foreach (var Ope in Model.OperationList)
                                    {
                                        <option value="@Ope.IdOpe" data-operation="@Ope.DescriptionOpe" data-ville="@Ope.IdVilleNavigation?.DescriptionVille">
                                            @Ope.CodeOpe - @Ope.DescriptionOpe -@(Ope.IdVilleNavigation != null ? Ope.IdVilleNavigation.DescriptionVille : "Ville inconnue")
                                        </option>
                                    }
                                }
                            </select>
                        </div>
                        <div class="col-md-6">
                            <label for="operation" class="form-label">Opération</label>
                            <input type="text" name="Operation" id="operation" class="form-control" />
                        </div>
                        <div class="col-md-6">
                            <label for="ville" class="form-label required-field">Ville</label>
                            <input type="text" name="Ville" id="ville" class="form-control" />
                        </div>
                        <div class="col-md-6">
                            <label for="legende" class="form-label">Legende</label>
                            <input type="text" name="Legende" id="legende" class="form-control" />
                        </div>
                        <div class="col-md-6">
                            <label for="originalite" class="form-label">Originalite</label>
                             <select name="Originalite" class="form-select" id="originalite">
                                <option value="" selected disabled>-- Sélectionner une originalité --</option>
                                <option value="PAPIER">PAPIER</option>
                                <option value="CALQUE">CALQUE</option>
                                <option value="NEANT">NEANT</option>
                            </select>
                        </div>
                        <div class="col-md-6">
                            <label for="echelle" class="form-label">Echelle</label>
                            <input type="text" name="Echelle" id="echelle" class="form-control" />
                        </div>
                        <div class="col-md-6">
                            <label for="cote" class="form-label">Cote</label>
                            <input type="text" name="Cote" id="cote" class="form-control" />
                        </div>
                         <div class="col-md-12">
                            <label for="fichier" class="form-label required-field">Fichier numérisé (PDF)</label>
                            <input type="file" name="Fichier" id="fichier" class="form-control" accept=".pdf"/>
                            <div class="d-flex align-items-center mt-2">
                                <button type="button" id="deleteCurrentFile" class="btn btn-outline-danger btn-sm p-1 me-2" style="display: none;" title="Supprimer le fichier actuel">
                                    ❌
                                </button>
                                <small id="currentFile" class="form-text text-muted"></small>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn text-white" data-bs-dismiss="modal" style="background: #374151;">Annuler</button>
                <button type="button" class="btn btn-danger" id="deletecarte">Supprimer</button>
                <button type="button" class="btn text-white" id="savecarte" style="background: linear-gradient(135deg, #10b981 0%, #374151 100%);">Enregistrer</button>
            </div>
        </div>
    </div>
</div>


@section Scripts {
    <script src="~/js/carte.js"></script>
}
