@page
@model MyApp.Namespace.TraitementFichierVplModel
@{
    ViewData["Title"] = "Traitement Fichier VPL";
}


@section Styles {
    <link rel="stylesheet" href="~/css/vpl.css"/>  
    
}

<!-- Afficher les messages de succès -->
@if (TempData["SuccessMessage"] != null)
{
    <div class="alert alert-success alert-dismissible fade show" role="alert">
        @TempData["SuccessMessage"]
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
}

<!-- Afficher les messages d'erreur de validation -->
@if (!ViewData.ModelState.IsValid)
{
    <div class="alert alert-danger alert-dismissible fade show" role="alert">
        <ul>
            @foreach (var error in ViewData.ModelState.Values.SelectMany(v => v.Errors))
            {
                <li>@error.ErrorMessage</li>
            }
        </ul>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
}

<div class="d-flex align-items-center">
    <h3>Centre de traitement VPL 📚</h3>
    <div class="dropdown">
        <button class="btn btn-secondary dropdown-toggle" type="button" 
                id="actionsDropdown" 
                data-bs-toggle="dropdown" 
                aria-expanded="false">
            Actions
        </button>
        <ul class="dropdown-menu" aria-labelledby="actionsDropdown">
            <li><a class="dropdown-item" href="#" id="exportSelected">Télécharger la sélection</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="#" id="deleteSelected">Supprimer la sélection</a></li>
        </ul>
    </div>
    <div class="ms-auto d-flex gap-2">
        <a class="text-white ms-auto underline btn" 
            id="validateSelected"
            style="background: linear-gradient(135deg, #44f409 0%, #374151 100%);">
            Valider les fichiers
        </a>
        <a class="text-white ms-auto underline btn" 
            id="rejectSelected"
            style="background: linear-gradient(135deg, #eb2b12 0%, #374151 100%);">
            Rejeter les fichiers
        </a>
        @if(User.IsInRole("Administrateur"))
        {
            <button type="button" class="btn text-white ms-auto" data-bs-toggle="modal" data-bs-target="#ajoutFichierModal"
                    style="background: linear-gradient(135deg, #12ecf0 0%, #374151 100%);">
                Indexer un fichier
            </button>
        }      
    </div>
</div>

@* Formulaire de recherche *@
<form method="get" class="mt-3 mb-3">
    <div class="row g-2" style="border-bottom: 5px solid #ccc; padding-bottom:10px;">
        @* <div class="col">
            <input type="text" name="boite" class="form-control" placeholder="Boite">
        </div>
        <div class="col">
            <input type="text" name="code" class="form-control" placeholder="Code">
        </div>
        <div class="col">
            <input type="text" name="logement" class="form-control" placeholder="N° Logement">
        </div>
        <div class="col">
            <input type="text" name="client" class="form-control" placeholder="Client">
        </div> 
        <div class="col">
            <input type="text" name="document" class="form-control" placeholder="Document">
        </div>
        <div class="col">
            <input type="text" name="annee" class="form-control" placeholder="Annee">
        </div>  
        <div class="col-auto">
            <button type="submit" class="btn text-white" style="background: linear-gradient(135deg, #10b981 0%, #374151 100%);">Rechercher</button>
        </div> *@
    </div>
</form>

@* @if (ViewData["MessageRechercheVpl"] != null)
{
    <p style="text-align: center; color:red">@ViewData["MessageRechercheVpl"]</p>
}
else
{ *@
     @* Afficher la liste de résultats *@
    <div class="filter-container">
        <div style="max-height:60vh; overflow-y:auto;margin-top:20px;">
            <!--<input type="text" id="table-filter" class="form-control" placeholder="Filtrer dans le tableau...">-->
            <div class="filter-input">
                <input type="text" id="table-filter" class="form-control form-control-sm" placeholder="Filtrer par boite, code,n° logement, client, document ou ...">
            </div>
            <div class="filter-stats">
                <span id="filterStats" class="text-muted small">@Model.VplListEnAttenteDeTratement.Count() fichier(s) trouvé(s)</span>
            </div>
            <table class="table mt-1">
                <thead>
                    <tr>
                        <th style="font-size: 12px;"><input type="checkbox" id="selectAllCheckbox" style="cursor: pointer;" /></th>
                        <th style="font-size: 12px;">Document</th>
                        <th style="font-size: 12px;">N° Boite</th>
                        <th style="font-size: 12px;">N° Dossier</th>
                        <th style="font-size: 12px;">Code</th>
                        <th style="font-size: 12px;">N° Logement</th>
                        <th style="font-size: 12px;">Statut</th>
                        <th style="font-size: 12px;">Client</th>
                        <th style="font-size: 12px;">Profession clt.</th>
                        <th style="font-size: 12px;">Tél.</th>
                        <th style="font-size: 12px;">Adresse</th>
                        <th style="font-size: 12px;">Annee</th>
                        <th style="font-size: 12px;">Ville</th>
                        <th style="font-size: 12px;">Opération | Commune</th>
                        <th style="font-size: 12px;">Date doc.</th>
                        <th style="font-size: 12px;">Actions</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var vpl in Model.VplListEnAttenteDeTratement)
                    {
                        <tr>
                            <td style="font-size: 12px;"><input type="checkbox" class="rowCheckbox" data-vpl-id="@vpl.IdVpl" style="cursor: pointer;"></td>
                            <td style="font-size: 12px;">
                                <span class="clickable-name" 
                                    data-bs-toggle="modal" 
                                    data-bs-target="#vplModal"
                                    data-vpl-id="@vpl.IdVpl"
                                    data-document="@(string.IsNullOrEmpty(vpl.Document) ? "" : char.ToUpper(vpl.Document[0]) + vpl.Document.Substring(1).ToLower())"
                                    data-contact="@vpl.Contact"
                                    data-datedocument="@vpl.DateDocument"
                                    data-annee="@vpl.Annee"
                                    data-fonctions="@vpl.Fonctions"
                                    data-client="@vpl.Client"
                                    data-code="@vpl.Code"
                                    data-id-ope="@vpl.IdOpe"
                                    data-statut-id="@vpl.DernierStatutVplId"
                                    data-numDossier="@vpl.NumDossierVpl"
                                    data-boite="@vpl.Boite"
                                    data-logement="@vpl.Logement"
                                    data-adresse="@vpl.Adresse"
                                    data-communequartier="@vpl.CommuneQuartier"
                                    data-ville="@vpl.IdOpeNavigation?.IdVilleNavigation?.DescriptionVille"
                                    data-fichier="@(vpl.Lien ??"")">
                                    @(string.IsNullOrEmpty(vpl.Document) ? "" : char.ToUpper(vpl.Document[0]) + vpl.Document.Substring(1).ToLower())
                                </span>
                            </td>
                            <td style="font-size: 12px;">@vpl.Boite</td>
                            <td style="font-size: 12px;">@(!string.IsNullOrWhiteSpace(vpl.NumDossierVpl) ? vpl.NumDossierVpl : "N/A")</td>
                            <td style="font-size: 12px;">@(string.IsNullOrWhiteSpace(vpl.Code) ? vpl.IdOpeNavigation?.CodeOpe : vpl.Code)</td>
                            <td style="font-size: 12px;">@vpl.Logement</td>
                            @* <td style="font-size: 12px; font-weight: bold;">@vpl.DernierStatutVpl?.DescriptionStatut</td> *@
                            <td>
                                @if (vpl.DernierStatutVpl?.DescriptionStatut == "En attente")
                                {
                                    <span class="badge bg-warning text-dark">En attente</span>
                                }else if (vpl.DernierStatutVpl?.DescriptionStatut == "Réjeté")
                                {
                                    <span class="badge bg-danger">Réjeté</span>
                                }
                                else if (vpl.DernierStatutVpl?.DescriptionStatut == "Nouveau")
                                {
                                    <span class="badge bg-info">Nouveau</span>
                                }
                                else
                                {
                                    <span class="badge bg-secondary">@vpl.DernierStatutVpl?.DescriptionStatut</span>
                                }
                            <td style="font-size: 12px;">@vpl.Client</td>
                            <td style="font-size: 12px;">@vpl.Fonctions</td>
                            <td style="font-size: 12px;">@vpl.Contact</td>
                            <td style="font-size: 12px;">@vpl.Adresse</td>
                            <td style="font-size: 12px;">@vpl.Annee</td>
                            <td style="font-size: 12px;">@(string.IsNullOrWhiteSpace(vpl.Ville) ? vpl.IdOpeNavigation?.IdVilleNavigation?.DescriptionVille : vpl.Ville)</td>
                            <td style="font-size: 12px;">@(string.IsNullOrWhiteSpace(vpl.CommuneQuartier) ? vpl.IdOpeNavigation?.DescriptionOpe : vpl.CommuneQuartier)</td>
                            <td style="font-size: 12px;">@vpl.DateDocument</td>
                            <td style="font-size: 12px;">
                                <form method="post" asp-page-handler="View" asp-route-id="@vpl.IdVpl" target="_blank">
                                    <button class="btn btn-warning">👁️ Voir</button>
                                </form>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
@* } *@

@* Formulaire pour ajouter les nouveaux fichiers *@
<div class="modal fade" id="ajoutFichierModal" tabindex="-1" aria-labelledby="ajoutFichierModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <form method="post" enctype="multipart/form-data" asp-page-handler="UploadFileVpl">
                <div class="modal-header" style="background: linear-gradient(135deg, #10b981 0%, #374151 100%); color:white;">
                    <h5 class="modal-title" id="ajoutFichierModalLabel">Ajouter un fichier VPL</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Fermer"></button>
                </div>
                <div class="modal-body">
                    <div class="row g-3">
                        <div class="col-md-3">
                            <label for="StatutVal" class="form-label">Statut</label>
                            <select name="statutId" class="form-select" id="statutId">
                                <option value="1" selected disabled>Nouveau</option>
                                @foreach (var statut in Model.UserAllowedStatuts)
                                {
                                    <option value="@statut.Value">@statut.Text</option>
                                }
                            </select>
                        </div>
                        <div class="col-md-3">
                            <label for="Boite" class="form-label">N° Boite</label>
                            <input type="text" name="Boite" class="form-control" required />
                        </div>
                        <div class="col-md-3">
                            <label for="Code" class="form-label">Code</label>
                            <select name="IdOpe" id="Code" class="form-select" required>
                                <option value="" selected disabled>-- Sélectionner un code --</option>
                                @if (Model.OperationList != null && Model.OperationList.Any())
                                {
                                    @foreach (var Ope in Model.OperationList)
                                    {
                                        <option value="@Ope.IdOpe" data-operation="@Ope.DescriptionOpe" data-ville="@Ope.IdVilleNavigation?.DescriptionVille">
                                            @Ope.CodeOpe - @Ope.DescriptionOpe -@(Ope.IdVilleNavigation != null ? Ope.IdVilleNavigation.DescriptionVille : "Ville inconnue")
                                        </option>
                                    }
                                }
                            </select>
                        </div>
                        @* <div class="col-md-3">
                            <label for="Code" class="form-label">Code</label>
                            <input type="text" name="Code" class="form-control" required />
                        </div> *@
                        <div class="col-md-3">
                            <label for="Operation" class="form-label">Opération</label>
                            <input type="text" id="Operation" name="Operation" class="form-control bg-warning" readonly />
                        </div>
                        <div class="col-md-3">
                            <label for="Client" class="form-label">Client</label>
                            <input type="text" name="Client" class="form-control" />
                        </div>
                        <div class="col-md-3">
                            <label for="Adresse" class="form-label">Adresse</label>
                            <input type="text" name="Adresse" class="form-control" />
                        </div>
                        <div class="col-md-3">
                            <label for="Contact" class="form-label">Contact</label>
                            <input type="text" name="Contact" class="form-control" />
                        </div>
                        <div class="col-md-3">
                            <label for="Fonctions" class="form-label">Profession client</label>
                            <input type="text" name="Fonctions" class="form-control" />
                        </div>
                        <div class="col-md-6">
                            <label for="Logement" class="form-label">N° Logement</label>
                            <input type="text" name="Logement" class="form-control" />
                        </div>
                        <div class="col-md-6">
                            <label for="Ville" class="form-label">Ville</label>
                            <input type="text" name="Ville" id="Ville" class="form-control bg-warning" readonly/>
                        </div>
                        <div class="col-md-6">
                            <label for="Annee" class="form-label">Année</label>
                            <input type="text" name="Annee" class="form-control" />
                        </div>
                        <div class="col-md-6">
                            <label for="Document" class="form-label">Description Doc.</label>
                            <input type="text" name="Document" class="form-control" />
                        </div>
                        @* <div class="col-md-6">
                            <label for="CommuneQuartier" class="form-label">Commune/Quartier</label>
                            <input type="text" name="CommuneQuartier" class="form-control" />
                        </div> *@
                        <div class="col-md-6">
                            <label for="NumeroDossierVpl" class="form-label">N° Dossier</label>
                            <input type="text" name="NumeroDossierVpl" id="numeroDossierVpl" class="form-control" />
                        </div>
                        <div class="col-md-6">
                            <label for="DateDocument" class="form-label">Date Document</label>
                            <input type="date" name="DateDocument" class="form-control" required />
                        </div>
                        <div class="col-md-12">
                            <label for="Fichier" class="form-label">Fichier numérisé (PDF)</label>
                            <input type="file" name="Fichier" class="form-control" accept=".pdf" required />
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-success">Enregistrer</button>
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Annuler</button>
                </div>
            </form>
        </div>
    </div>
</div>

@* Methode pour modifier un fichier ADP *@
<div class="modal fade" id="vplModal" tabindex="-1" aria-labelledby="vplModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="vplModalLabel">Modifier un fichier VPL</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form id="vplForm">
                    @Html.AntiForgeryToken()
                    <input type="hidden" id="vplId">
                    <input type="hidden" id="deleteFileFlag" name="DeleteFile" value="false">
                    <div class="row mb-3">
                        <div class="col-md-3">
                            <label for="StatutVal" class="form-label">Statut</label>
                            <select name="statutId" class="form-select" id="statutId">
                                <option value="1" selected disabled>Nouveau</option>
                                @foreach (var statut in Model.UserAllowedStatuts)
                                {
                                    <option value="@statut.Value">@statut.Text</option>
                                }
                            </select>
                        </div>
                        <div class="col-md-3">
                            <label for="boite" class="form-label required-field">N° Boite</label>
                            <input type="text" name="Boite" id="boite" class="form-control"/>
                        </div>
                        <div class="col-md-3">
                            <label for="Code" class="form-label">Code</label>
                            <select name="IdOpe" id="Code" class="form-select" required>
                                <option value="" selected disabled>-- Sélectionner un code --</option>
                                @if (Model.OperationList != null && Model.OperationList.Any())
                                {
                                    @foreach (var Ope in Model.OperationList)
                                    {
                                        <option value="@Ope.IdOpe" data-operation="@Ope.DescriptionOpe" data-ville="@Ope.IdVilleNavigation?.DescriptionVille">
                                            @Ope.CodeOpe - @Ope.DescriptionOpe -@(Ope.IdVilleNavigation != null ? Ope.IdVilleNavigation.DescriptionVille : "Ville inconnue")
                                        </option>
                                    }
                                }
                            </select>
                        </div>
                        <div class="col-md-3">
                            <label for="Operation" class="form-label">Opération</label>
                            <input type="text" id="Operation" name="Operation" class="form-control bg-warning" readonly />
                        </div>
                       @*  <div class="col-md-3">
                            <label for="code" class="form-label required-field">Code</label>
                            <input type="text" name="Code" id="code" class="form-control"/>
                        </div> *@
                    </div>
                    <div class="row mb-3">
                        <div class="col-md-3">
                            <label for="client" class="form-label required-field">Client</label>
                            <input type="text" name="Client" id="client" class="form-control" />
                        </div>
                        <div class="col-md-3">
                            <label for="adresse" class="form-label">Adresse</label>
                            <input type="text" name="Adresse" id="adresse" class="form-control" />
                        </div>
                        <div class="col-md-3">
                            <label for="contact" class="form-label">Contact</label>
                            <input type="text" name="Contact" id="contact" class="form-control" />
                        </div>
                        <div class="col-md-3">
                            <label for="fonctions" class="form-label">Profession clt.</label>
                            <input type="text" name="Fonctions" id="fonctions" class="form-control" />
                        </div>
                    </div>
                    <div class="row mb-3">
                        <div class="col-md-6">
                            <label for="logement" class="form-label required-field">N° Logement</label>
                            <input type="text" name="Logement" id="logement" class="form-control" />
                        </div>
                        <div class="col-md-6">
                            <label for="ville" class="form-label">Ville</label>
                            <input type="text" name="Ville" id="ville" class="form-control bg-warning" readonly />
                        </div>
                    </div>
                    <div class="row mb-3">
                        <div class="col-md-6">
                            <label for="document" class="form-label">Description Doc.</label>
                            <input type="text" name="Document" id="document" class="form-control" />
                        </div>
                        <div class="col-md-6">
                            <label for="annee" class="form-label">Année</label>
                            <input type="text" name="Annee" id="annee" class="form-control" />
                        </div>
                        @* <div class="col-md-6">
                            <label for="communequartier" class="form-label">Commune/Quartier</label>
                            <input type="text" name="CommuneQuartier" id="communequartier" class="form-control" />
                        </div> *@
                         <div class="col-md-6">
                            <label for="NumeroDossierVpl" class="form-label">N° Dossier</label>
                            <input type="text" name="NumeroDossierVpl" id="numeroDossierVpl" class="form-control" />
                        </div>
                        <div class="col-md-6">
                            <label for="datedocument" class="form-label">Date Document</label>
                            <input type="date" name="DateDocument" id="datedocument" class="form-control" required />
                        </div>
                    </div>
                    <div class="row ">
                        <div class="col-md-12">
                            <label for="fichier" class="form-label required-field">Fichier numérisé (PDF)</label>
                            <input type="file" name="Fichier" id="fichier" class="form-control" accept=".pdf"/>
                            <div class="d-flex align-items-center mt-2">
                                <button type="button" id="deleteCurrentFile" class="btn btn-outline-danger btn-sm p-1 me-2" style="display: none;" title="Supprimer le fichier actuel">
                                    ❌
                                </button>
                                <small id="currentFile" class="form-text text-muted"></small>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn text-white" data-bs-dismiss="modal" style="background: #374151;">Annuler</button>
                <button type="button" class="btn btn-danger" id="deletevpl">Supprimer</button>
                <button type="button" class="btn text-white" id="savevpl" style="background: linear-gradient(135deg, #10b981 0%, #374151 100%);">Enregistrer</button>
            </div>
        </div>
    </div>
</div>

@section Scripts {
     <script src="~/js/vpl.js"></script>
}

